<html>
<script type="text/javascript" src="/send_delete_shipment.js"></script>
<body>
	<h1>Showing shipment: {{shipment.name}}</h1>
	{{^shipment.items}}
	<p>This shipment does not have items</p>
	{{/shipment.items}}

	{{^shipment.items.empty}}
	<p>Shipment has the following items:</p>
	<ul>
		{{#shipment.items}}
		<li>{{name}}</li>
		{{/shipment.items}}
	</ul>
	{{/shipment.items.empty}}
	<div>
		<button type="button" onclick="sendDeleteShipment({{shipment.id}})">Delete</button>
	</div>
	<a href="/">Back to shipment list</a>
</body>
</html>