<html>
<head>
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/shipment_form_functions.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>{{shipmentAction}} shipment</h1>
				<form action="/shipment" method="post" name="shipment"
					class="form-horizontal">
					<input type="hidden" name="id" value="{{shipment.id}}" />


					<div class="row">
						<div class="col-md-3 field-label-responsive">
							<label>Name</label>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-group mb-2 mr-sm-2 mb-sm-0">
									<div class="input-group-addon" style="width: 2.6rem">
										<span class="fa fa-boxes"></span>
									</div>
									<input type="text" name="name" class="form-control required"
										id="name" name="name" placeholder="My shipment" required
										autofocus
                               {{#shipment.name}}value="{{shipment.name}}"{{/shipment.name}}>
								</div>
							</div>
						</div>
					</div>

					<div id="itemFields">
						{{#shipment.items}}
						<div class="row">

							<div class="col-md-3 field-label-responsive">
								<label class="itemFieldText">Item {{-index}}</label>
							</div>

							{{#id}} <input class="itemId" type="hidden" value="{{id}}" />
							{{/id}}

							<div class="col-md-6">
								<div class="form-group">
									<div class="input-group mb-2 mr-sm-2 mb-sm-0">
										<div class="input-group-addon" style="width: 2.6rem">
											<i class="fa fa-box-open"></i>
										</div>
										<input type="text" name="name"
											class="itemFieldInput form-control required" id="name"
											name="name" oninput="onType()" placeholder="An item" required
											autofocus
                               {{#name}}value="{{name}}"{{/name}}>

										<p data-placement="top" data-toggle="tooltip"
											title="Delete item">
											<button class="removeItemField btn btn-danger btn-xs"
												data-title="Delete item" data-toggle="modal"
												data-target="#deleteItem">
												<span class="fa fa-trash"></span>
											</button>
										</p>

									</div>
								</div>
							</div>
						</div>
						{{/shipment.items}}
					</div>

					<span data-placement="top" data-toggle="tooltip" title="New item">
						<button class="btn btn-primary btn-xs" data-title="New item"
							onclick="onAddItemClicked()" data-toggle="modal"
							data-target="#newItem">
							<span class="fa fa-plus"></span>
						</button>
					</span> <span data-placement="top" data-toggle="tooltip" title="Send">
						<button class="btn btn-success btn-xs" data-title="Send"
							data-toggle="modal" data-target="#send" id="submitButton"
							type="submit" disabled="true" value="">
							<span class="fa fa-save"></span>
						</button>
					</span>

				</form>
			</div>
		</div>
	</div>
</body>
</html>